@{
    ViewBag.Title = "Home Page";
}

<div class="profile-card">

</div>
<div class="leave-card">
    <h2>Annual Leave</h2>
    <div class="leave-cards">
        <div class="card">
            <h3>Annual Leave</h3>
            <div class="card-grid">
                <span>Entitled</span><span>Taken</span><span>Remaining</span>
                <p>15</p><p>8</p><p>7</p>
                <span>days</span><span>days</span><span>days</span>
            </div>
            <button><span>+</span></button>
        </div>
        <div class="card">
            <h3>Maternity Leave</h3>
            <div class="card-grid">
                <span>Entitled</span><span>Taken</span><span>Remaining</span>
                <p>90</p><p>0</p><p>90</p>
                <span>days</span><span>days</span><span>days</span>
            </div>
            <button><span>+</span></button>
        </div>
        <div class="card">
            <h3>Sick Leave</h3>
            <div class="card-grid">
                <span>Entitled</span><span>Taken</span><span>Remaining</span>
                <p>30</p><p>0</p><p>15</p>
                <span>days</span><span>days</span><span>days</span>
            </div>
            <button><span>+</span></button>
        </div>
        <div class="card">
            <h3>Study Leave</h3>
            <div class="card-grid">
                <span>Entitled</span><span>Taken</span><span>Remaining</span>
                <p>5</p><p>1</p><p>4</p>
                <span>days</span><span>days</span><span>days</span>
            </div>
            <button><span><img src="#" alt=""></span></button>
        </div>
    </div>
    <h2>Annual Leave History</h2>
    <div class="leave-history">
        <table>
            <thead>
            <th colspan="6">name</th>
            <th colspan="4">surname</th>
            <th colspan="4">Leave</th>
            <th colspan="4">Taken</th>
            <th colspan="4">Outstanding</th>
            </thead>
            <tbody>
            <td colspan="6">John</td>
            <td colspan="4">Doe</td>
            <td colspan="4">Sick</td>
            <td colspan="4">2</td>
            <td colspan="4">8</td>
            </tbody>
            <tbody>
            <td colspan="6">John</td>
            <td colspan="4">Doe</td>
            <td colspan="4">Annual</td>
            <td colspan="4">2</td>
            <td colspan="4">8</td>
            </tbody>
            <tbody>
            <td colspan="6">John</td>
            <td colspan="4">Doe</td>
            <td colspan="4">Study</td>
            <td colspan="4">2</td>
            <td colspan="4">8</td>
            </tbody>
            <tbody>
            <td colspan="6">John</td>
            <td colspan="4">Doe</td>
            <td colspan="4">Sick</td>
            <td colspan="4">2</td>
            <td colspan="4">8</td>
            </tbody>
            <tbody>
            <td colspan="6">John</td>
            <td colspan="4">Doe</td>
            <td colspan="4">Annual</td>
            <td colspan="4">2</td>
            <td colspan="4">8</td>
            </tbody>
            <tbody>
            <td colspan="6">John</td>
            <td colspan="4">Doe</td>
            <td colspan="4">Parental</td>
            <td colspan="4">2</td>
            <td colspan="4">8</td>
            </tbody>
            <tfoot>
            <td colspan="6"></td>
            <td colspan="4"></td>
            <td colspan="4">Total</td>
            <td colspan="4">50</td>
            <td colspan="4">12</td>
            </tfoot>
        </table>
    </div>

</div>