
:root {
    --primary: #56808C;
    --bg-main: #FFFFFF;
    --secondary: #8d8d8d;
    --bg-cards: #F7F7F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive,'Poppins', sans-serif;
}

body {
    display: flex;
    background: linear-gradient(180deg, #567F8C 68.27%, rgba(255, 255, 255, 0.00) 98.92%);
}

main {
    padding: 20px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px 0px;
}

nav {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.logo {
    width: 95px;
    height: 90px;
    flex-shrink: 0;
    align-self: center;
    position: relative;
    right: 38%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-self: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 200px;
}

nav li {
    width: 100px;
}

    nav li a {
        text-decoration: none;
        color: #000;
    }

    nav li:hover, a {
        text-decoration: underline;
        color: #000;
    }

section {
    height: 100%;
    height: 100%;
    display: flex;
    grid-template-columns: 0.7fr 1.3fr;
    gap: 0px 4%;
    justify-content: center;
    align-content: center;
}

.profile-card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgb(20 20 20 / 44%);
    width: 420px;
    height: 550px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 8px 0px;
}

    .profile-card h2 {
        color: #000;
        font-family: Italiana;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .profile-card img {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 50px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat, #D9D9D9;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

.personal-info {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 5px;
    grid-template-areas:
        ". ."
        ". ."
        ". .";
}

    .personal-info p {
        justify-self: end;
        color: #262626;
        text-align: right;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .personal-info span {
        justify-self: start;
        color: #9D9D9D;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

.active-leave {
    display: flex;
}

.card-grid-leave {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 30%;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

    .card-grid-leave span {
        font-size: 10px;
        font-family: Italiana;
    }

.leave-card {
    border-radius: 10px;
    background: #FFF;
    width: 80%;
    height: 550px;
    flex-shrink: 0;
    box-shadow: 4px 4px 4px 0px rgb(20 20 20 / 44%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    padding: 2px 20px 8px 20px;
}

.leave-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px 20px;
    width: 100%;
    height: 200px;
}

.card {
    width: 40%;
    height: 80%;
    background: var(--bg-cards);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgb(20 20 20 / 44%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

    .card h3 {
        font-size: 16px;
        justify-self: center;
        font-family: Italiana;
    }

.card-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 20%;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

    .card-grid span {
        font-size: 10px;
        font-family: Italiana;
    }

    .card-grid p {
        font-size: 14px;
        font-weight: lighter;
    }

.card button {
    padding: 6px 10px;
    width: 30px;
    border-radius: 25px;
    position: relative;
    top: 8%;
    border: none;
    height: 45px;
    box-shadow: 4px 4px 4px 0px rgb(20 20 20 / 44%);
    background: var(--primary);
    border: none;
    color: var(--bg-main);
}

    .card button:hover {
        cursor: pointer;
        transform: scale(1.1);
        background: var(--secondary);
    }

.leave-history {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    width: 100%;
    height: 100%;
    background: var(--bg-cards);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgb(20 20 20 / 44%);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
}

    .leave-history table {
        /* margin: auto; */
        text-align: left;
        overflow-x: hidden;
        /* max-width: 80vw; */
        width: 100%;
        border: #00000038 2px solid;
        border-radius: 10px;
        padding: 4px;
    }

        .leave-history table thead th {
            padding: 6px 5px;
            background: rgba(206, 206, 206, 0.4);
        }

            .leave-history table thead th:first-child {
                border-radius: 5px 0 0 0;
            }

            .leave-history table thead th:last-child {
                border-radius: 0 5px 0 0;
            }

        .leave-history table tbody td {
            padding: 1px 5px;
        }

        .leave-history table tfoot td {
            padding: 6px 5px;
            background: #2e2e2e33;
        }

footer {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.33);
    font-size: small;
    color: black;
    font-family: Italiana;
}
