.auth {
    padding: 4% 7% 4% 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-info {
    width: 80%;
    height: 85vh;
    display: flex;
    border-radius: 10px;
    position: relative;
    background: url(/img/background.jpg) rgb(41, 41, 41) 90% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.login-form {
    width: 40%;
    height: 76vh;
    display: flex;
    border-radius: 10px;
    background: var(--bg-main);
    position: absolute;
    right: 5%;
    top: 10%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login-info h2 {
    font-size: 250%;
    position: relative;
    right: 15%;
    font-weight: bold;
    color: var(--bg-main);
    text-align: center;
}

.login-info p {
    font-size: 100%;
    position: relative;
    right: 15%;
    width: 60%;
    font-weight: lighter;
    color: var(--bg-main);
    text-align: center;
}

.login-form h2 {
    font-size: large;
    font-weight: 400;
    justify-self: baseline;
    align-self: center;
    color: var(--secondary);
}

.login-form span {
    margin-top: 2rem;
    font-size: small;
    color: var(--primary);
}

.login-form form-control {
    width: 50%;
    height: 7%;
    border-radius: 7px;
    padding: 5px 5px 5px 10px;
}

.login-form button {
    width: 130px;
    height: 60px;
    margin: 6%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px var(--primary);
    background: var(--primary);
    border: none;
    color: var(--bg-main);
}

.login-form button:hover {
    background: var(--secondary);
    color: var(--bg-main);
    cursor: pointer;
    transition: 700ms smooth ease-in-out all;
    box-shadow: 0px 4px 4px 0px var(--secondary);
}
